.edit{
    font-family: 'Kalnia', serif;
    
}
.edit h1{
    font-size: 4em;
}
.edit h2{
    text-align: center;
    padding: 10%;
    font-size: 4em;
    margin: 12%;
}
.logo{
    font-family: 'Geostar Fill', serif;
    font-family: 'Kalnia', serif;
}
.bag1{
    background-color: rgb(164, 102, 70);
}